<h1>Invite Members</h1>
<%= form_with url: invite_tenant_members_path, html: {class: "invite-form"} do |form|%>
<%= form.text_field :email, placeholder: "Email"%>
<%= form.submit "Invite"%>
<% end %>


<h1>Members</h1>


<div class="member-list">
    <% @member.each do |member|%>
     <div class= "memer-item">
        <div class= "member-email"><%= member.user.email %></div>
        <div class= "member-roles"><%= member.roles%></div>
     </div>
<% end %>
</div>
  <%= button_to "Log out", destroy_user_session_path, method: :delete, form: { "data-turbo" => "false" } %>