<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Multitenancy" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
     <div>
      <div class= "navbar">
        <img id="drag1" src="<%= asset_path('logo.png') %>" draggable="true" ondragstart="drag(event)" width="100" height="90">
            <% if signed_in? %>
            <ul class="nav-links">
              <li> <%= link_to "Home", root_path%></li>
              <li> <%= link_to "Organizations", tenants_path %></li>
              <li> <%= link_to current_user.email, edit_user_registration_path %></li>
              <li> <%= link_to 'Profile', profile_path(current_user) %> </li>
              <li> <%= link_to 'Edit Profile', edit_profile_path(current_user) %> </li>
              <li> <%= button_to "Log out", destroy_user_session_path, method: :delete, form: { "data-turbo" => "false" } %> </li>
            </ul>
           <nav>
    <% if user_signed_in? %>
    <ul>
     
    <ul>
    <% else %>
      <%= link_to 'Sign up', new_user_registration_path %> |
      <%= link_to 'Login', new_user_session_path %>
    <% end %>
  </nav>
            
      </div>
       <%# <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: "false" } %>  
      <div class="login">
          <% else %>
          <%= link_to "Log in", new_user_session_path, class:"login-link" %>
          <%= link_to "Sign up", new_user_registration_path, class:"login-link"%>
          <% end %>
      </div>
         
          
          <%# <%= link_to "Dashboard", dashboard_path%> 

        <%= yield %>
      </div>
     
     
  </body>
</html>
