<h1><%= @article.title %></h1>
<p><%= @article.content %></p>


<ul>
    <li>
    
      <%= link_to 'Edit', edit_tenant_article_path(@tenant, @article) %> <br>
     
      <%= button_to 'Destroy', tenant_article_path(@tenant, @article), method: :delete, data: { confirm: 'Are you sure?' } %>

    </li>
<%= form_with(url: tenant_article_comments_path(tenant_id: @tenant.id, article_id: @article.id), local: true) do |form| %>
  <div class="field">
    <%= form.label :content, "Add a Comment" %><br>
    <%= form.text_area :content %>
  </div>
  
  <div class="actions">
    <%= form.submit "Post" %>
  </div>
<% end %>

<h3>All Comments</h3>
<% @article.comments.each do |comment| %>
  <p><strong><%= comment.user.email if comment.user %>:</strong> <%= comment.content %></p>
   <%# <%= link_to 'Edit Comment', edit_tenant_article_comments_path(@tenant, @article, @comment) %> 

<% end %>
</div>
 <%= link_to 'Back', tenant_articles_path(@tenant) %> <br>
</ul>


